quotsi/db
stale/
#quotsi/cpp/include/stale
*.gch
#quotsi/cpp/src/stale
*.o
quotsi/cpp/obj
quotsi/cpp/qotd
.vs/
x64/
.Debug/
.Release/
*.exe
*.obj
*.tlog
*.log
*.pdb
quotsi/cpp/src/vendor/pqxx/include/out
quotsi/cpp/src/vendor/pqxx/src/out

