html {
	height:100%;
}
body {
	position:relative;
	height:100%;
	background-color: #000000;
	color: #FFFFFF;
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
	img {
		width:600px;
	}
}

#main-heading {
	text-align: center;
}
#watsnav-title-div {
	height:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#imgs-below-watsnav {
	width:100%
}
